fire
black
pylint
pytest
fastapi
uvicorn
databricks
requests
bs4
pytest
pylint
click
databricks
databricks-cli
ipython
databricks-sql-connector
databricks-connect==10.4.*
fastapi
uvicorn[standard]
dask
dask[distributed]
jupyter
s3fs
bokeh
streamlit
jinja2==3.0.2